In [1]:
import math
import os
import openpyxl
import platform
import numpy as np
import pandas as pd

In [2]:
if platform.platform()[:3].lower() == 'mac':
    mac_m1 = True
elif platform.platform()[:3].lower() == 'win':
    mac_m1 = False
    
if mac_m1:
    path = '/Users/rainyseason/winston/Workspace/python/Pycharm Project/sinewave_analyze/Evaluation/'
    path_csv = path + 'tek_csv/'
    path_excel = path + 'tek_excel/'
    path_summary = path + 'summary/'
    path_information = path + 'test information/'
    path_kmon = path + 'kmon_csv'
else:
    path = 'D:/winston/OneDrive - (주)필드큐어/data_analyze/'
    path_csv = path + 'tek_csv/'
    path_excel = path + 'tek_excel/'
    path_summary = path + 'summary/'
    path_information = path + 'test information/'
    path_kmon = path + 'kmon_csv/'
    
evaluation_control_file = 'eval_control.xlsx'

In [27]:
filename = 'summary 36 55.xlsx'

In [28]:
df = pd.ExcelFile(path_excel + filename)

In [29]:
sheets = df.sheet_names

In [30]:
sheets = [sheet for sheet in sheets if 'All' in sheet]

In [31]:
sheets

['RFAMP_01 300ohm Volt All Ch',
 'RFAMP_02 300ohm Volt All Ch',
 'RFAMP_03 300ohm Volt All Ch',
 'RFAMP_04 300ohm Volt All Ch',
 'RFAMP_05 300ohm Volt All Ch']

In [32]:
dict = {}

In [33]:
dict_keys = ['ohm', 'Volt[V]']

In [34]:
for key in dict_keys:
    dict[key] = []

In [35]:
for v in range(0, 151):
    dict['Volt[V]'].append(v)
    dict['ohm'].append(300)

In [36]:
df_all_volt = pd.DataFrame.from_dict(dict)

In [37]:
df_all_volt

     ohm  Volt[V]
0    300        0
1    300        1
2    300        2
3    300        3
4    300        4
..   ...      ...
146  300      146
147  300      147
148  300      148
149  300      149
150  300      150

[151 rows x 2 columns]

In [38]:
for sheet in sheets:
    df = pd.read_excel(path_excel + filename, sheet_name=sheet)
    columns = [col for col in list(df.columns) if 'Vpeak' in col]
    for column in columns:
        new_col_name = '#' + df.at[0, 'Board'][-2:] + ' ' + column[-3:]
        df_all_volt[new_col_name] = df[column]

In [39]:
df_all_volt

,ohm,Volt[V],#01 Ch1,#01 Ch2,#01 Ch3,#01 Ch4,#02 Ch1,#02 Ch2,#02 Ch3,#02 Ch4,...,#03 Ch3,#03 Ch4,#04 Ch1,#04 Ch2,#04 Ch3,#04 Ch4,#05 Ch1,#05 Ch2,#05 Ch3,#05 Ch4
0,300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,300,1,3.336884,NaN,NaN,NaN,3.904465,2.401286,NaN,NaN,...,NaN,NaN,3.767216,NaN,NaN,NaN,3.873129,NaN,NaN,NaN
2,300,2,4.757415,3.170089,NaN,NaN,5.435283,4.335599,3.071343,NaN,...,NaN,NaN,5.126984,NaN,NaN,NaN,4.997857,3.075585,NaN,NaN
3,300,3,6.050767,4.301522,3.418680,2.884269,6.648390,5.513443,4.139396,3.919343,...,3.342382,2.967108,5.755733,3.553962,3.031895,2.757289,6.187442,4.185770,3.674232,2.927359
4,300,4,7.091238,5.349035,4.590121,4.045845,7.851625,6.539428,5.479630,4.802304,...,4.528707,4.187127,7.445021,4.758810,4.114214,4.085198,7.194063,5.457455,4.732616,3.845770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,300,146,149.554918,145.340121,146.590458,144.907058,150.600228,148.421070,148.828320,147.625746,...,146.822657,145.144384,150.784967,146.476502,147.876246,146.094938,150.224298,147.389558,147.090344,144.939101
147,300,147,150.582239,147.506329,147.706919,145.743177,151.815301,149.234719,149.483528,148.579169,...,147.557871,145.952044,151.538073,147.490300,148.678634,147.046674,150.881730,148.400597,148.346963,145.827217
148,300,148,151.408508,148.435658,148.778049,146.944673,152.843953,150.330089,150.853921,149.730523,...,148.653640,147.261058,152.140835,148.666640,149.605466,148.263837,152.018456,149.246535,149.221621,147.093860
149,300,149,152.544921,149.136866,149.763808,147.945830,154.154210,151.599377,151.850346,150.844005,...,149.758455,148.335239,153.235865,149.749707,150.793405,149.139584,153.252801,150.563041,150.306709,147.973284
150,300,150,153.689347,150.472987,150.697320,148.930583,155.121499,152.797028,153.024452,151.725618,...,150.943385,149.411994,154.448928,150.523696,151.949246,150.174653,154.157922,151.454926,151.244884,148.998899

In [40]:
sheet_name = 'Volt_all'
if not os.path.exists(path_excel + filename):  # excel.path로 변경
    with pd.ExcelWriter(path_excel + filename, mode='w', engine='openpyxl') as writer:
        df_all_volt.to_excel(writer, sheet_name=sheet_name, index=False)
        print('create sheet: ', sheet_name)
else:
    with pd.ExcelWriter(path_excel + filename, mode='a', engine='openpyxl') as writer:
        try:
            df_all_volt.to_excel(writer, sheet_name=sheet_name, index=False)
        except:
            print('그 시트 있다 안카나: ', sheet_name)

In [66]:
a = 'All Vpeak[V]'

In [69]:
a.replace('k', '')

'All Vpea[V]'

In [70]:
a

'All Vpeak[V]'

12